<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="QUESTION7.css">
    <title>Question 4- Step 3 of the Running Project- Adopt a Dog/Pet</title>
</head>
<body>
    <div id = "container">
        <% if (typeof message !== 'undefined') { %>
            <% let isSuccess = message && message.startsWith('SUCESS!!'); %>
            <div class="<%= isSuccess ? 'success-msg' : 'error-msg' %>">
              <%= message %>
            </div>
          <% } %>
        <%- include('partials/header') %>
        <main>
            <section id="caption" style="text-align: center;">
                <h2 >Welcome to Friends for Life! </h2>
                <h3 >At Friends for life, we help do more than find a pet, we help you find an eternal bond.</h3>
                
            </section>
        </main>

        <div id="main">
            <div id = "sidebar">
                    <nav>
                        <ul>
                            <li><a href="/QUESTION7">Home</a></li>
                            <li><a href="/find">Find a Pet</a></li>
                            <li><a href="/dogcare">Dog Care</a></li>
                            <li><a href="/catcare">Cat Care</a></li>
                            <li><a href="/giveaway">Have a pet to give away?</a></li>
                            <li><a href="/contactus">Contact Us</a></li>
                            <li><a href="/register">Register Now</a></li>
                        </ul>
                    </nav>
            </div>
              
                <div id = "column1">
                    <h1 style="text-align: center;">Meet some of our eternal bonds</h1><br><br>
                    <table id="sucesses">
                        <tr>
                            <td><img src="sucess1.jpg" alt="Woman and Dog"></td>
                            <td style="padding: 30px;">Meet Judy and her border collie Max. We helped connect Judy with her friend for life back in 2018. Max currently resides with Judy in Bromond Quebec on her farm. Every morning Max herds the sheep and returns to Judy in time for breakfast. Max and Judy share an unbreakable bond!</td>
                        </tr>
                        <tr>
                            <td>This is Juliette and her tabby cat Miso. Miso and Juliette are kindered spirits who met 2 years ago at our Missisauga center. <br><br> "I am so grateful for Friends For Life, thank you for helping me find my Miso, I could not imagine my life without him"</td>
                            <td><img src="sucess2.webp" alt="woman and cat"></td>
                        </tr>
                        <tr>
                            <td><img src="sucess4.jpg" alt="child playing with dog"></td>
                            <td style="padding: 30px;">Benji and his ever-loyal companion Peanut have been attached at the hip since they first met. Despite how young both are, they would appear to be soulmates with how they understand one another. Together, Benji and Peanut practice tricks at thier local dog park and run errands. A remarkable display of friendship!</td>
                        </tr>
                    </table>
                </div>
        </div>
        <%- include('partials/footer', { loggedIn }) %>


</div>
    <script src="QUESTION7.js"></script> 
</body>
</html>