<footer>
    <p>Feb 2025, Friends for Life // <a href="/priv">Privacy/Disclaimer Statement</a></p>
    <p>Photo Credits: vectomakerstudio</p>
    <% if (loggedIn) { %>
        <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/login">Login</a>
    <% } %>
</footer>

